<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
    http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" 
    version="3.1">
    
    <!-- Other existing configurations -->
    

    <servlet>
        <servlet-name>FetchCompanies</servlet-name>
        <servlet-class>com.model.FetchCompanies</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FetchCompanies</servlet-name>
        <url-pattern>/templates/FetchCompanies</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>SubmitReviewServlet</servlet-name>
        <servlet-class>com.model.SubmitReviewServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SubmitReviewServlet</servlet-name>
        <url-pattern>/templates/SubmitReviewServlet</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
    <servlet-name>UploadCarImageServlet</servlet-name>
    <servlet-class>com.model.UploadCarImageServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>UploadCarImageServlet</servlet-name>
    <url-pattern>/templates/UploadCarImage</url-pattern>
</servlet-mapping>

	  <welcome-file-list>  
   <welcome-file>/templates/index.html</welcome-file>  
  </welcome-file-list> 
	    

    <!-- Other existing configurations -->
</web-app>
